.footer {
    position: absolute;
    width: 100vw;
    height: auto;
    margin-top: 3vh;
    box-sizing: border-box;
}

.main-ft {
    width: 100%;
    height: 15vh;
    display: flex;
    background: #fff;
    border-top: 1px solid #580E78;
    padding-top: 3vh;
    padding-left: 3vh;
    justify-content: center;
    gap: 30%;
    color: #580E78;
    font-size: 1rem;
    font-weight: 600;
}

.payments-img{
    display: flex;
    height: 1.6rem;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.security-img{
    display: flex;
    height: 2rem;
    gap: 3rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #580E78;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    gap: 1rem;
}