.footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    border-top: 1px solid #580E78;
    margin-top: 5rem;
}

.main-ft {
    width: 100%;
    height: 15vh;
    display: flex;
    background: #fff;
    padding-top: 3vh;
    padding-left: 3vh;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    color: #580E78;
    font-size: 1.7vh;
    font-weight: 600;
}

.payments-img{
    display: flex;
    height: 2vh;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.security-img{
    display: flex;
    height: 3vh;
    width: 100%;
    gap: 3rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #580E78;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    gap: 1.2rem;
}

.social-media img {
    height: 2.5vh;
}

@media screen and (max-width: 675px) {
    .main-ft {
        font-size: 1.2vh;
        padding-top: 2vh;
    }

    .security-img {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .main-ft img {
        height: 2vh;
    }
    
}

@media screen and (max-width: 485px) {
    .main-ft {
        font-size: 1vh;
        padding-top: 2vh;
    }

    .security-img {
        height: 4vh;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .main-ft img {
        height: 2vh;
    }
    
}