.content__ItemsCart {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.all__ItemsCart {
    display: flex;
}

.img__ItemsCart {
    height: 7rem;
}

.desc__ItemsCart {
    margin-left: 2rem;
}

.h1__ItemsCart {
    font-size: 1rem;
    font-weight: 300;
}

.nameP__ItemsCart {
    margin-top: 0.2rem;
    width: 70%;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1.2rem);
    font-weight: 700;
}

.junct__ItemsCart {
    display: flex;
}

.oferta__ItemsCart {
    display: flex;
    align-items: end;
    gap: 0.6rem;
    margin-top: 0.5rem;
}

.img-oferta__ItemsCart {
    height: 1.5rem;
}

.value__ItemsCart {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    align-items: end;
}

.price__ItemsCart {
    font-weight: 700;
    font-size: 1.5rem;
    color: #580E78;
}

.empty__ItemsCart {
    margin: 5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.continue-buy__ItemsCart {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #580e78;
    background-color: #fff;
    border: 1.5px solid #580e78;
    border-radius: 5px;
    height: 4rem;
    width: 50%;
}

.continue-buy__ItemsCart:hover {
    transition: 0.3s;
    background: #580e78;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .all__ItemsCart {
        flex-direction: column;
        align-items: center;
    }

    .junct__ItemsCart {
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 1rem;
        
    }

    .nameP__ItemsCart {
        width: 100%;
    }

    .desc__ItemsCart {
        width: 50%;
    }
    
}