.product__card {
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 1vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.product__card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card__img {
    height: 250px;
    width: 250px;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__infos {
    border-top: 2px solid #580E78;
}

.card__title {
    padding-top: 1vh;
    padding-left: 1vh;
    font-size: 1rem;
    font-weight: 400;
}

.card__price {
    padding-top: 1vh;
    padding-left: 1vh;
    padding-bottom: 1.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #580E78;
}

.button__add-cart {
    padding: 0.56vh;
    border-radius: 7px;
    border: 1px solid #313131;
    background-color: #313131;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.button__add-cart:hover {
    border: 1px solid #580E78;
    background-color: #fff;
    color: #580E78;
    cursor: pointer;
}

.card__header {
    height: 56px;
    border-bottom: 0.5px solid #000;
    display: flex;
}

.card-off {
    width: 50%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.5px solid #000;
}

.percent {
    font-size: 1.5rem;
    font-weight: 900;
    color: #580E78;
}

.off {
    margin-left: 0.5vh;
    font-size: 16px;
    font-weight: 600;
}

.card-brand {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.94rem;
    font-weight: 500;
    color: #580E78;
}

.name-brand {
    border: 1.5px solid #580E78;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 16px;
}

.name-brand:hover {
    color: #fff;
    background-color: #580E78;
    cursor: default;
}
