.content__ResumCart {
    margin: 5vh auto;
    max-width: 25rem;
    width: 100%;
}

.value__ResumCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frete__ResumCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line__ResumCart {
    height: 0.5px;
    background: #a0a0a0;
    margin: 0.7rem auto 0.9rem auto;
}

.pText__ResumCart {
    font-size: 1.25rem;
    font-weight: 500;
}

.pValue__ResumCart {
    font-size: 1.5rem;
    font-weight: 700;
}

.price-card__ResumCard {
    background: #580e784d;
    color: #580e78;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh auto 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    gap: 0.5rem;
}

.pText-pc__ResumCard {
    font-weight: 500;
    font-size: 1.4rem;
}

.h1Value__ResumCard {
    font-size: 2.8rem;
}

.buttons__ResumCard {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

}

.comprar__ResumCard {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    background: #580e78;
    border: 1.5px solid #580e78;
    border-radius: 5px;
    height: 4rem;
    width: 25rem;
}

.continue-buy__ResumCard {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #580e78;
    background-color: #fff;
    border: 1.5px solid #580e78;
    border-radius: 5px;
    height: 4rem;
    width: 25rem;
}

.comprar__ResumCard:hover {
    transition: 0.3s;
    color: #580e78;
    background: #fff;
}

.continue-buy__ResumCard:hover {
    transition: 0.3s;
    background: #580e78;
    color: #fff;
}