.notFound-container {
    min-height: 73.2vh;
    height: 100%;
    width: 99vw;
    margin: auto;
    justify-content: center;
}

.notFound-img {
    padding-top: 3rem;
    margin: auto;
    display: flex;
    width: 50rem;
}

.notFound-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.notFound-inside {
    font-weight: 500;
    font-size: 2.2rem;
}
