* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title__brands {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 7rem;
    padding-top: 1vh;
}

.swiper-container {
    width: 80%;
}

.slide-item {
    margin: 10px;
}

.slide-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .title__brands {
        padding: 0;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}