* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title__brands {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 7rem;
    padding-top: 1vh;
}
 
.swiper_container {
    width: 80%;
    text-align: center;
    display: flex;
}

.swiper-wrapper {
    align-items: center;
}

.item__swiper-slide {
    width: 137px;
    height: 100px;
    border: 1px solid #580E78;
}
/*
.slide_item img {
    height: 100%;
} */

@media screen and (max-width: 768px) {
    .title__brands {
        padding: 0;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}