.container__MainAgradecimento {
    min-height: 64.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__MainAgradecimento {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3rem;
}

.img__MainAgradecimento {
    width: 9rem;
}

.line__MainAgradecimento {
    width: 25%;
    height: 0.12rem;
    margin: 2rem auto 2rem auto;
    background: #580e78;
    border-radius: 10px;
}

.text__MainAgradecimento {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.h1__MainAgradecimento {
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #580e78;
}

.p__MainAgradecimento {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}