.products__container {
    padding: 3vh 20px;
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin: auto;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .products__container {
        justify-content: center;
    }
}