.products__container {
    padding: 3vh 20px 50px;
    max-width: 70rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin: auto;
    justify-content: center;
}